bcrypt==4.0.1
cryptography
fastapi~=0.112.1
psycopg2-binary
PyMySQL
python-jose~=3.3.0
python-multipart
SQLAlchemy~=2.0.32
uvicorn~=0.30.6
passlib~=1.7.4
pytest
httpx
pytest-asyncio
aiofiles
jinja2
loguru~=0.7.2
starlette~=0.38.2
pydantic~=2.8.2
alembic~=1.13.2